doctype html
html(lang='en')
    head
        include includes/head-meta-link
        title Home

    body
        include includes/header

        main.main
            .container-fluid
                include includes/home-news-item1
                include includes/home-news-item2
                include includes/home-news-item3
                include includes/home-banner
                include includes/home-news-item5
                include includes/home-news-item4
                include includes/home-news-item3
                include includes/home-news-item2
                include includes/home-news-item1
                include includes/home-banner




        include includes/left-fixed-menu
        include includes/svgsprite





