doctype html
html(lang='en')
    head
        include includes/head-meta-link
        title Home

    body
        include includes/header

        main.main
            .news-details-section-wrapper
                .container
                    .news-details-section
                        .news-details__navigation
                            a(href='#').news-details__navigation-btn.news-details__navigation-close
                            a(href='#').news-details__navigation-btn.news-details__navigation-prev
                            a(href='#').news-details__navigation-btn.news-details__navigation-next
                        include includes/news-details

        include includes/left-fixed-menu
        include includes/svgsprite





