a(href='#').home-item.home-item--music-category
    .home-item__image-wrap
        img.home-item__image(
            alt=''
            src=require('../../images/content/home-item1.jpg')
            )
        .home-item__hover
            .home-item__hover-text
                .home-item__hover-text-left
                    svg.home-item__hover-left-icon
                        use(xlink:href="#ic_right-thin")
                .home-item__hover-text-right READ MORE

    .home-item__content
        .home-item__info
            .home-item__date
                span.home-item__date-icon
                    svg.home-item__date-svg
                        use(xlink:href="#ic_calendar")
                span.home-item__date-value 27 July 2013
            .home-item__comments
                span.home-item__comments-icon
                    svg.home-item__comments-svg
                        use(xlink:href="#ic_comment")
                span.home-item__comments-value 14 Comments
        h2.home-item__title Robin Thicke: Longest Hot 100 Reign This Year
        p.home-item__description The line originally used in the fishery was of the best hemp, slightly vapoured with tar, not impregnated with it, as in the case of ordinary ropes; for while tar, as ordinarily used, makes the hemp more pliable to the rope-maker, Of late years the Manilla rope has in the American fishery almost entirely superseded hemp as.
