a(href='#').home-item.home-item--camera-category
    .home-item__image-wrap
        img.home-item__image(
            alt=''
            src=require('../../images/content/home-item2.jpg')
            )
        .home-item__hover
            .home-item__hover-text
                .home-item__hover-text-left
                    svg.home-item__hover-left-icon
                        use(xlink:href="#ic_right-thin")
                .home-item__hover-text-right READ MORE

    .home-item__content
        .home-item__info
            .home-item__date
                span.home-item__date-icon
                    svg.home-item__date-svg
                        use(xlink:href="#ic_calendar")
                span.home-item__date-value 27 July 2013
            .home-item__comments
                span.home-item__comments-icon
                    svg.home-item__comments-svg
                        use(xlink:href="#ic_comment")
                span.home-item__comments-value 14 Comments
        h2.home-item__title All sail being set, he now cast loose the life-line, reserved.
        p.home-item__description Soon all the boats but Starbuck's were dropped; all the boat-sails set all the paddles plying; with rippling swiftness, shooting to leeward; and Ahab heading the onset. A pale, death-glimmer lit up Fedallah's sunken eyes; a hideous motion.
