a(href='#').home-item.home-item--video-category
    .home-item__image-wrap
        img.home-item__image(
            alt=''
            src=require('../../images/content/home-item5.jpg')
            )
        .home-item__hover
            .home-item__hover-text
                .home-item__hover-text-left
                    svg.home-item__hover-left-icon
                        use(xlink:href="#ic_right-thin")
                .home-item__hover-text-right READ MORE

    .home-item__content
        .home-item__info
            .home-item__date
                span.home-item__date-icon
                    svg.home-item__date-svg
                        use(xlink:href="#ic_calendar")
                span.home-item__date-value 27 July 2013
            .home-item__comments
                span.home-item__comments-icon
                    svg.home-item__comments-svg
                        use(xlink:href="#ic_comment")
                span.home-item__comments-value 14 Comments
        h2.home-item__title A Strange Brand of Happy
        p.home-item__description An aimless bachelor loses his job and finds himself chasing the same girl (his new life coach) that his manipulative ex-boss is after as well. The boys are spurred on by a rag tag group of retirees in need of some action.

