a(href='#').home-item.home-item--suitcase-category
    .home-item__image-wrap
        img.home-item__image(
            alt=''
            src=require('../../images/content/home-item4.jpg')
            )
        .home-item__hover
            .home-item__hover-text
                .home-item__hover-text-left
                    svg.home-item__hover-left-icon
                        use(xlink:href="#ic_right-thin")
                .home-item__hover-text-right READ MORE

    .home-item__content
        .home-item__info
            .home-item__date
                span.home-item__date-icon
                    svg.home-item__date-svg
                        use(xlink:href="#ic_calendar")
                span.home-item__date-value 27 July 2013
            .home-item__comments
                span.home-item__comments-icon
                    svg.home-item__comments-svg
                        use(xlink:href="#ic_comment")
                span.home-item__comments-value 14 Comments
        h2.home-item__title A-Rod, A Fraud, And A Waste Of Yankees Money, Public's Time
        p.home-item__description Enough already.  I can’t take it no more.  Free us from enslavement to all this banter. OK, so my fit of anger this morning is not steroid-induced…though that would be fitting in light of recent discussions. Baseball talk of late has centered upon performance enhancing drugs. Biogenesis has become the new BALCO. A-Rod the new Barry Bonds. And all I hear from various media types are questions like.
