aside.left-menu
    nav.left-menu__list
        a(href='#').left-menu__item.left-menu__item-palette
            svg.left-menu__icon.left-menu__icon-palette
                use(xlink:href="#ic_palette")
            span.left-menu__hover
                svg.left-menu__hover-icon
                    use(xlink:href="#ic_palette")
                span.left-menu__hover-caption graphic

        a(href='#').left-menu__item.left-menu__item-music
            svg.left-menu__icon.left-menu__icon-music
                use(xlink:href="#ic_music")
            span.left-menu__hover
                svg.left-menu__hover-icon
                    use(xlink:href="#ic_music")
                span.left-menu__hover-caption music
        a(href='#').left-menu__item.left-menu__item-camera
            svg.left-menu__icon.left-menu__icon-camera
                use(xlink:href="#ic_camera")
            span.left-menu__hover
                svg.left-menu__hover-icon
                    use(xlink:href="#ic_camera")
                span.left-menu__hover-caption camera
        a(href='#').left-menu__item.left-menu__item-video
            svg.left-menu__icon.left-menu__icon-video
                use(xlink:href="#ic_video")
            span.left-menu__hover
                svg.left-menu__hover-icon
                    use(xlink:href="#ic_video")
                span.left-menu__hover-caption video
        a(href='#').left-menu__item.left-menu__item-suitcase
            svg.left-menu__icon.left-menu__icon-suitcase
                use(xlink:href="#ic_suitcase")
            span.left-menu__hover
                svg.left-menu__hover-icon
                    use(xlink:href="#ic_suitcase")
                span.left-menu__hover-caption business
        a(href='#').left-menu__item.left-menu__item-airplane
            svg.left-menu__icon.left-menu__icon-airplane
                use(xlink:href="#ic_airplane")
            span.left-menu__hover
                svg.left-menu__hover-icon
                    use(xlink:href="#ic_airplane")
                span.left-menu__hover-caption travel
        a(href='#').left-menu__item.left-menu__item-bag
            svg.left-menu__icon.left-menu__icon-bag
                use(xlink:href="#ic_bag")
            span.left-menu__hover
                svg.left-menu__hover-icon
                    use(xlink:href="#ic_bag")
                span.left-menu__hover-caption fashion
        a(href='#').left-menu__item.left-menu__item-plus
            svg.left-menu__icon.left-menu__icon-plus
                use(xlink:href="#ic_plus")
            span.left-menu__hover
                svg.left-menu__hover-icon
                    use(xlink:href="#ic_plus")
                span.left-menu__hover-caption more


    a(href='#').left-menu__item.left-menu__item-settings.left-menu__item--fixed-bottom
        svg.left-menu__icon.left-menu__icon-settings
            use(xlink:href="#ic_cog")
        span.left-menu__hover
            svg.left-menu__hover-icon
                use(xlink:href="#ic_cog")
            span.left-menu__hover-caption settings
