$white-color: white;
$black-color: black;
$grey-default: #626262;
$grey-light: #fefefe;
$grey-1: #525252;
$grey-2: #1e1e1e;
$grey-3: #323232;
$grey-4: #484848;
$grey-5: #e7e7e7;
$grey-6: #585858;
$grey-7: #404040;
$grey-8: #ebebeb;
$grey-9: #fbfbfb;
$grey-10: #9d9d9d;
$google-plus-color: #ef5c5c;
$facebook-color: #3360b2;
$twitter-color: #08b0e0;
$pinterest-color: #ae0a0a;
$blue-1: #2eb398;
$palette-color: #14b9d6;
$music-color: #e76049;
$camera-color: #2eb398;
$video-color: #90899c;
$suitcase-color: #5692b1;
$airplane-color: #f9b704;
$travel-color: #dd1787;
$plus-color: #e76049;
$settings-color: #585858;


$max-mobile: 767px;
$max-tablet: 991px;
$max-laptop: 1439px;
