@import "reset";
@import "vars";
@import "fonts";
@import "header";
@import "left-menu";
@import "news-details";
@import "home-items";

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}
body {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: OpenSans, sans-serif;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 137rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8rem;
  padding-right: 8rem;

  @media screen and (max-width: $max-mobile) {
    padding-left: 5rem;
    padding-right: 1.5rem;
  }
}
.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10rem;
  padding-right: 3rem;
  //display: flex;
  //justify-content: flex-start;
  //align-items: flex-start;
  //flex-wrap: wrap;
  column-count: 4;
  column-gap: 3rem;

  @media screen and (max-width: $max-laptop) {
    column-count: 3;
  }
  @media screen and (max-width: $max-tablet) {
    padding-left: 7.5rem;
    column-count: 2;
  }
  @media screen and (max-width: $max-mobile) {
    padding-left: 4.75rem;
    padding-right: .75rem;
    column-count: 2;
    column-gap: .75rem;
  }
  @media screen and (max-width: 600px) {
    column-count: 1;
  }
}

.col {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @media screen and (max-width: $max-mobile) {
    padding-left: .75rem;
    padding-right: .75rem;
  }
}
/*
.col-1-sm {
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}
.col-2-md {
  @media screen and (min-width: 600px) {
    width: 50%;
  }
}
.col-3-lg {
  @media screen and (min-width: $max-tablet + 1) {
    width: 33.3333%;
  }
}
*/
/*
.col-5-xl {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 20%;
}
*/
/*
.col-4-xl {
  @media screen and (min-width: $max-laptop + 1) {
    width: 25%;
  }
}
*/
/*
.col-3-xl {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 33.3333%;
}
.col-2-xl {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 50%;
}
*/

.main {
  margin-top: 10.8rem;

  @media screen and (max-width: $max-mobile) {
    margin-top: 6.5rem;
  }
}
.social-list {
  padding-right: .2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  &:not(:last-of-type) {
    margin-right: .7rem;
  }
}
.social-link {
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon {
  width: 100%;
  height: 100%;
}
.social-link--fb {
  fill: $facebook-color;
}
.social-link--tw {
  fill: $twitter-color;
}
.social-link--gp {
  fill: $google-plus-color;
}
.social-link--pin {
  fill: $pinterest-color;
}


